body {
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
  font-family: 'Oxygen', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #C7A43B;  
}
  
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px; /*This centers the hamburger menu horizontally.*/
  background-color:  #282828  ;
}

.navbar-header button.navbar-toggle:hover {   
  background-color:  lightgray;
}
#header-nav {
  background-color: #282828;
  border: 0;
  border-radius: 0;

}

.navbar-brand{
  padding-top: 10px;

  height: 80px;
}
.navbar-brand h1 {
  font-family: 'Lora',serif;
  color: #C7A43B;
  font-size:  1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
  margin-left: 5px;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #f8f8f8;
  text-transform: capitalize;
  font-size: .7em;
  margin-top: -15px;
  margin-left: 5px;
  
}
.navbar-default .navbar-nav>li>a {
  color: black;
  background-color: lightgray;
  border-bottom: 1px solid gray; /*adds a divider between mobile menu */
}
#nav-list {
  
  margin-bottom: 0;
}
#nav-list a:hover {
  background: #C7A43B;
  color:  #fff;
}
#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
 
}
#main-content {
  height:  1000px;
}

#main-content h1{
  margin-bottom: 25px;
} 

#chicken-tile, #beef-tile, #sushi-tile {
  margin-top: 20px;
  height:  700px;
  width: 100%;
  background-color:#282828;
  padding: 20px;  
  margin-bottom: 25px; 
  color: #fff;
  
}

